<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSGetGlobalSelectionTrigger</string>
			<key>command</key>
			<string>QSGetGlobalSelectionCommand</string>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>53</integer>
			<key>modifiers</key>
			<integer>1048840</integer>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>60455B7A-85DA-4DAD-81F9-696C92BEED63</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileRevealAction</string>
				<key>directID</key>
				<string>/usr/local/Cellar/emacs/24.3/Emacs.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>99</integer>
			<key>modifiers</key>
			<integer>8519938</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>E57E3FBB-C603-4F9D-B1D7-D73CFD8A1B64</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Spotify.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>118</integer>
			<key>modifiers</key>
			<integer>8519938</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSActivateTextModeTrigger</string>
			<key>command</key>
			<string>QSActivateTextModeCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>473EAEEB-69E2-43A1-940E-C230B7D34666</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Google Chrome.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>105</integer>
			<key>modifiers</key>
			<integer>8388864</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>3AE863F1-43B9-44B5-BB52-E9F417D8749E</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/iTerm.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>122</integer>
			<key>modifiers</key>
			<integer>8519938</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
