<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<string>DB0A175F-294A-4507-B8B6-96B4B0BBFF02</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Spotify.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>120</integer>
			<key>modifiers</key>
			<integer>8913184</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>C52C2D1A-F5FB-4A19-9DF9-D1B78AA0BD61</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/SourceTree.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>A60C482A-2346-4497-834B-F862D27C557D</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Airbrake.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>0</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>E89C46A1-96BB-49A4-B9A6-023A9CCBEA07</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/iDisplay.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>34</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>D21A0FD1-BAFA-41A3-A41F-BAC36DAB185C</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/System/Library/PreferencePanes/Keyboard.prefPane</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>40</integer>
			<key>modifiers</key>
			<integer>1179916</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>E345BB97-56FB-4197-9AE5-ED8ADE3579B2</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Github.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>5</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>61200CD6-1E3E-4465-AB4F-973BD82885BF</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/KeyRemap4MacBook.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>100</integer>
			<key>modifiers</key>
			<integer>8913184</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>D0843351-303D-4224-960F-CB68BF01A85F</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Voice.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>109</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>AF947CAC-A36C-4812-BE6B-283B85638246</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Twitter.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>20</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>FFCE120C-5004-4B42-A6D3-C180F973951D</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/RubyMine.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>15</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>D86DBAFF-A08B-4F33-9AE0-D55440EC8ECC</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/usr/local/Cellar/macvim/7.3-66/MacVim.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>118</integer>
			<key>modifiers</key>
			<integer>9437448</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>04AD61A4-219E-421C-86D4-D7864D5473A9</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Weedmaps.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>19</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSGetGlobalSelectionTrigger</string>
			<key>command</key>
			<string>QSGetGlobalSelectionCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>78779D35-60A0-4E8A-B8AC-E9D3520952C9</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Sublime Text 2.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>1</integer>
			<key>modifiers</key>
			<integer>1573160</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5B114841-F0B3-4A15-9506-01C29F894F33</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Messages.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>100</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>66709A4A-CDC8-49B0-B5BE-D592A74E9E98</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Semaphore.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>1</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>EE814CC7-0EDC-4D05-8EA7-2A1315451A31</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Kaleidoscope.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>40</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>FB3141FB-D35A-4AF7-B04C-90F7E282DC74</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/System Preferences.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>43</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>A3C9FE29-608F-4EE4-8C47-FED6DC3456EC</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/rspecweb.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>13</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSActivateTextModeTrigger</string>
			<key>command</key>
			<string>QSActivateTextModeCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>05F0768C-01D8-4820-B92D-D0B0A800BA34</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Google Chrome.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>99</integer>
			<key>modifiers</key>
			<integer>9437448</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>7D9E6B00-4B09-4B6E-A764-5B0FD77E22BA</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directArchive</key>
				<dict>
					<key>class</key>
					<string>QSObject</string>
					<key>data</key>
					<dict>
						<key>NSStringPboardType</key>
						<string>/Applications/Asana.app</string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectName</key>
						<string>/Applications/Asana.app</string>
						<key>QSObjectType</key>
						<string>NSStringPboardType</string>
					</dict>
				</dict>
				<key>directID</key>
				<string>/Applications/Asana.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>0</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>004632C6-9FEA-4014-985D-ABAF6E753B4D</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Preview.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>99</integer>
			<key>modifiers</key>
			<integer>8913184</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>718BF895-4DC7-4323-B5F5-B5C8ED42B68F</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Quicksilver.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>122</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>FF28601C-52B3-48D5-9090-34EC220C49BE</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/System/Library/CoreServices/Finder.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>47</integer>
			<key>modifiers</key>
			<integer>1179914</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>6809FC54-2591-481F-B4F4-A751BD5416A6</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Evernote.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>99</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>450F5EEA-9E21-4B65-8EB1-B5872EE20172</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/join.me.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>38</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ECD868C9-0652-4218-AA06-B45CDA9B7B98</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Aquamacs.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>FC1D835F-702C-47A4-85D7-D570D9499AE8</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/gMail.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>120</integer>
			<key>modifiers</key>
			<integer>8388864</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>239BCCB3-BE00-4290-AF5E-B03AB5C0710F</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/VLC.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>118</integer>
			<key>modifiers</key>
			<integer>9437448</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>E4C959CE-98AA-4E06-8817-A364399B710F</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/devweb.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>2</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>77368870-A10E-496E-91E6-85BD7D9837C3</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Flowdock.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>3</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5CFE497D-4892-4887-B611-7764E782498E</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Google Chrome Canary.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>99</integer>
			<key>modifiers</key>
			<integer>9437448</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>7DAB42E3-E60A-43F6-87A9-66A9C1E6F845</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/devweb.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>CCC5A6B1-6889-455E-A27E-7D675F2DCA9D</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Mailplane.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>120</integer>
			<key>modifiers</key>
			<integer>8388864</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>B7D5C772-A3B5-45AE-9992-378AAA67B0A2</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Wunderlist.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>120</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>A6E79544-6E65-4EA8-82AF-CC01A324F3F2</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/usr/local/Cellar/emacs/24.2/Emacs.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>14</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>CE27B2FD-F171-4F20-AD3B-F2D0B0B7FEF3</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/iTerm.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>122</integer>
			<key>modifiers</key>
			<integer>8388864</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5507871A-A297-4359-9077-992C7DFD8164</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Utilities/Activity Monitor.app</string>
			</dict>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>47</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>5CA36AC1-3EDB-440A-A5B1-A0B3CBB6AF38</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/SoundCloud.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>118</integer>
			<key>modifiers</key>
			<integer>8388864</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>1C460D6E-AF4E-48A1-80B5-D5F39FEE657F</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Automator.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>E4A4D9CF-C49B-4E11-AA92-050A67DE83DD</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Shark.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>21</integer>
			<key>modifiers</key>
			<integer>1573192</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
